# **1. 리스트** (051 ~ *070*)

## 051 리스트 생성
- 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

## 052 리스트에 원소 추가
- 051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [3]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

## 053
- movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [6]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

## 054
- movie_rank 리스트에서 '럭키'를 삭제하라.

In [15]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키') # del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿']

## 055
- movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

In [17]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:4]
movie_rank

['닥터 스트레인지', '슈퍼맨']

## 056
- lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

In [21]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

## 057
- 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

In [25]:
nums = [1, 2, 3, 4, 5, 6, 7]

max(nums)
min(nums)

7


## 058
- 다음 리스트의 합을 출력하라.

In [28]:
nums = [1, 2, 3, 4, 5]

sum(nums)

리스트의 합: 15

## 059
- 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

In [29]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

len(cook)

12

## 060
- 다음 리스트의 평균을 출력하라.

In [30]:
nums = [1, 2, 3, 4, 5]

sum(nums) / len(nums)

3.0

## 061
- price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

In [31]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

price[1:]

[100, 130, 140, 150, 160, 170]

## 062
- 슬라이싱을 사용해서 홀수만 출력하라.

In [32]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[::2]

[1, 3, 5, 7, 9]

## 063
- 슬라이싱을 사용해서 짝수만 출력하라.

In [33]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[1::2]

[2, 4, 6, 8, 10]

## 064
- 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

In [34]:
nums = [1, 2, 3, 4, 5]

nums[::-1]

[5, 4, 3, 2, 1]

## 065
- interest 리스트에는 아래의 데이터가 바인딩되어 있다. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

In [ ]:
출력 예시:
삼성전자 Naver

In [38]:
interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

삼성전자 Naver

## 066 join 메서드
- interest 리스트에는 아래의 데이터가 바인딩되어 있다. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

In [ ]:
출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [48]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

## 067 join 메서드
- interest 리스트에는 아래의 데이터가 바인딩되어 있다. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

In [ ]:
출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [49]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

## 068 join 메서드
- interest 리스트에는 아래의 데이터가 바인딩되어 있다. join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

In [ ]:
출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [56]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

## 069 문자열 split 메서드
- 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다. 이를 interest 이름의 리스트로 분리 저장하라.

In [57]:
string = "삼성전자/LG전자/Naver"

string.split("/")

['삼성전자', 'LG전자', 'Naver']

## 070 리스트 정렬
- 리스트에 있는 값을 오름차순으로 정렬하세요.

In [64]:
data = [2, 4, 3, 1, 5, 10, 9]

l = sorted(data)
print(l)

[1, 2, 3, 4, 5, 9, 10]

# **2. 딕셔너리** (081 ~ 100)

## 081 별 표현식
- 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

In [67]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, _, _= scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

## 082
- 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

In [69]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

_, _, *valid_score = scores
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

## 083
- 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

In [70]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

_, *valid_score, _ = scores
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

## 084 비어있는 딕셔너리
- temp 이름의 비어있는 딕셔너리를 만들라.

In [71]:
temp = {}

## 085
- 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.
![image.png]()

In [73]:
icecream = {'메로나' : 1000,
            '폴라포' : 1200,
            '빵빠레' : 1800}
icecream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

## 086
- 085번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.
![image.png]()

In [74]:
icecream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

icecream['죠스바'] = 1200
icecream['월드콘'] = 1500
icecream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

## 087
- 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

In [ ]:
실행 예:
메로나 가격: 1000

In [86]:
icecream = {'메로나': 1000,
            '폴라포': 1200,
            '빵빠레': 1800,
            '죠스바': 1200,
            '월드콘': 1500}

print('메로나 가격: {}'.format(icecream['메로나']))

메로나 가격: 1000

## 088
- 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

In [88]:
icecream = {'메로나': 1000,
            '폴라포': 1200,
            '빵빠레': 1800,
            '죠스바': 1200,
            '월드콘': 1500}

icecream['메로나'] = 1300
icecream

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

## 089
- 다음 딕셔너리에서 메로나를 삭제하라.

In [90]:
icecream = {'메로나': 1000,
            '폴라포': 1200,
            '빵빠레': 1800,
            '죠스바': 1200,
            '월드콘': 1500}

del icecream['메로나']
icecream

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

## 090
- 다음 코드에서 에러가 발생한 원인을 설명하라.

In [91]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: ignored

In [ ]:
# 없는 키값임

## 091 딕셔너리 생성
- 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

![image.png]()

In [92]:
inventory = {'메로나': [300, 20],
             '비비빅': [400, 3],
             '죠스바': [250, 100]}

inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

## 092 딕셔너리 인덱싱
- inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

In [93]:
inventory = {'메로나': [300, 20],
             '비비빅': [400, 3],
             '죠스바': [250, 100]}

inventory['메로나'][0]

300

## 093 딕셔너리 인덱싱
- inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

In [94]:
inventory = {'메로나': [300, 20],
             '비비빅': [400, 3],
             '죠스바': [250, 100]}

inventory['메로나'][1]

20

## 094 딕셔너리 추가
- inventory 딕셔너리에 아래 데이터를 추가하라.

![image.png]()

In [96]:
inventory = {'메로나': [300, 20],
             '비비빅': [400, 3],
             '죠스바': [250, 100]}

inventory['월드콘'] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

## 095 딕셔너리 keys() 메서드
- 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

In [98]:
icecream = {'탱크보이': 1200,
            '폴라포': 1200,
            '빵빠레': 1800,
            '월드콘': 1500,
            '메로나': 1000}

list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

## 096 딕셔너리 values() 메서드
- 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

In [99]:
icecream = {'탱크보이': 1200,
            '폴라포': 1200,
            '빵빠레': 1800,
            '월드콘': 1500,
            '메로나': 1000}

list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

## 097 딕셔너리 values() 메서드
- icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

In [101]:
icecream = {'탱크보이': 1200,
            '폴라포': 1200,
            '빵빠레': 1800,
            '월드콘': 1500,
            '메로나': 1000}

sum(icecream.values())

6700

## 098 딕셔너리 update 메서드
- 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

In [103]:
icecream = {'탱크보이': 1200,
            '폴라포': 1200,
            '빵빠레': 1800,
            '월드콘': 1500,
            '메로나': 1000}

new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

## 099 zip과 dict
- 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

In [104]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = zip(keys, vals)
dict(result)

{'apple': 300, 'pear': 250, 'peach': 400}

## 100 zip과 dict
- date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

In [105]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = zip(date, close_price)
dict(close_table)

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

# **3. 반복문** (131 ~ 240)

## 131
- for문의 실행결과를 예측하라.

In [107]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

## 132
- for문의 실행결과를 예측하라.

In [109]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

## 133
- 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

In [111]:
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [ ]:
print("A")
print("B")
print("C")

## 134
- for문을 풀어서 동일한 동작을하는 코드를 작성하라.

In [ ]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

In [ ]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

## 135
- for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

In [ ]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

In [ ]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

## 136
- 다음 코드를 for문으로 작성하라.

In [ ]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

In [112]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

## 137
- 다음 코드를 for문으로 작성하라.

In [ ]:
print(10)
print(20)
print(30)

In [113]:
for i in [10, 20, 30]:
    print(i)

10
20
30

## 138
- 다음 코드를 for문으로 작성하라.

In [ ]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

In [114]:
for i in [10, 20, 30]:
    print(i)
    print("--------")

10
--------
20
--------
30
--------

## 139
- 다음 코드를 for문으로 작성하라.

In [ ]:
print("++++")
print(10)
print(20)
print(30)

In [115]:
print("++++")

for i in [10, 20, 30]:
    print(i)

++++
10
20
30

## 140
- 다음 코드를 for문으로 작성하라.

In [ ]:
print("-------")
print("-------")
print("-------")
print("-------")

In [117]:
for i in range(4):
    print("-------")

-------
-------
-------
-------

## 141
- 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

In [118]:
리스트 = [100, 200, 300]

for i in 리스트:
    print(i+10)

110
210
310

## 142
- for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

In [ ]:
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [119]:
리스트 = ["김밥", "라면", "튀김"]

for i in 리스트:
    print(f'오늘의 메뉴: {i}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

## 143
- 리스트에 주식 종목이름이 저장돼 있다. 저장된 문자열의 길이를 다음과 같이 출력하라.

In [ ]:
6
4
4

In [120]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
    print(len(i))

6
4
4

## 144
- 리스트에는 동물이름이 문자열로 저장돼 있다. 동물 이름과 글자수를 다음과 같이 출력하라.

In [ ]:
dog 3
cat 3
parrot 6

In [121]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

## 145
- 리스트에 동물 이름 저장돼 있다. for문을 사용해서 동물 이름의 첫 글자만 출력하라.

In [ ]:
d
c
p

In [122]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

## 146
- 리스트에는 세 개의 숫자가 바인딩돼 있다. for문을 사용해서 다음과 같이 출력하라.

In [ ]:
3 x 1
3 x 2
3 x 3

In [124]:
리스트 = [1, 2, 3]

for i in 리스트:
    print('3 x', i)

3 x 1
3 x 2
3 x 3

## 148
- 리스트에는 네 개의 문자열이 바인딩돼 있다. for문을 사용해서 다음과 같이 출력하라.

In [ ]:
나
다
라

In [131]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:]:
    print(i)

나
다
라

## 149
- 리스트에는 네 개의 문자열이 바인딩돼 있다. for문을 사용해서 다음과 같이 출력하라.

In [ ]:
가
다

In [132]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::2]:
    print(i)

가
다

## 150
- 리스트에는 네 개의 문자열이 바인딩돼 있다. for문을 사용해서 다음과 같이 출력하라.

In [ ]:
라
다
나
가

In [133]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1]:
    print(i)

라
다
나
가

## 151
- 리스트에는 네 개의 정수가 저장돼 있다. for문을 사용해서 리스트의 음수를 출력하라.

In [ ]:
-20
-3

In [138]:
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0:
        print(i)

-20
-3

## 152
- for문을 사용해서 3의 배수만을 출력하라.

In [139]:
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 == 0:
        print(i)

3

## 153
- 리스트에서 20 보다 작은 3의 배수를 출력하라

In [140]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i % 3 == 0 and i < 20:
        print(i)

12
18

## 154
- 리스트에서 세 글자 이상의 문자를 화면에 출력하라

In [142]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

## 155
- 리스트에서 대문자만 화면에 출력하라.

In [151]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

## 156
- 리스트에서 소문자만 화면에 출력하라.

In [150]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.islower():
        print(i)

b
c

## 157
- 이름의 첫 글자를 대문자로 변경해서 출력하라.

In [154]:
리스트 = ['dog', 'cat', 'parrot']

# for i in 리스트:
#   print(i.title())

for 변수 in 리스트:
    print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

## 158
- 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

In [155]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

## 159
- 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

In [157]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.split('.')[1] == 'h':
        print(i)

intra.h
define.h

## 160
- 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

In [159]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    split = i.split('.')
    if split[1] == 'h' or split[1] == 'c':
        print(i)

intra.h
intra.c
define.h

## 161
- for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [ ]:
for i in range(100):
    print(i)

## 162
- 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

In [166]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

## 163
- 1부터 30까지의 숫자 중 3의 배수를 출력하라.

In [168]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

## 164
- 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [ ]:
for i in range(99, -1, -1):
    print(i)

## 165
- for문을 사용해서 아래와 같이 출력하라.

In [ ]:
0.0
0.1
0.2
0.3
0.4
0.5
...
0.9

In [174]:
# for i in range(10):
#     print(f'0.{i}')

for i in range(10):
    print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

## 166
- 구구단 3단을 출력하라.

In [183]:
for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

## 167
- 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

In [184]:
for i in range(1, 10, 2):
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

## 168
- 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [188]:
sum = 0

for i in range(1, 11):
    sum += i
print(sum)

55

## 169
- 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [189]:
odd_sum = 0

for i in range(1, 11, 2):
    odd_sum += i
print(odd_sum)

25

## 170
- 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [192]:
multi = 1

for i in range(1, 11):
    multi *= i
print(multi)

3628800